*.terraform
*.tfstate
*.tfplan
*.tfvars
*.lock.hcl
*.backup
private*
backend.hcl
*plan
*.out
plan.txt
settings.json
# Ignore unencrypted secrets
secrets/**/*.unencrypted.yaml
secrets/**/*.unencrypted.json
secrets/**/*.unencrypted.env

# Ignore any plaintext files in secrets directory
secrets/**/*.plaintext.*

# Ignore the SOPS age key
.sops/keys/

node_modules
proxmox/scripts/talos-configs/*
tf_output.json

# Go binaries
/secret-manager/secret-manager
