services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: unless-stopped
    hostname: {{ gitlab_domain }}
    ports:
      - "80:80"
      - "443:443"
      - "{{ gitlab_ssh_port }}:22"
    volumes:
      - {{ gitlab_data_dir }}/config:/etc/gitlab
      - {{ gitlab_data_dir }}/logs:/var/log/gitlab
      - {{ gitlab_data_dir }}/data:/var/opt/gitlab
      - {{ gitlab_cert_dir }}:/etc/gitlab/ssl:ro
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://{{ gitlab_domain }}'
        gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab_ssh_port }}

        nginx['ssl_certificate'] = '/etc/gitlab/ssl/{{ gitlab_domain }}.crt'
        nginx['ssl_certificate_key'] = '/etc/gitlab/ssl/{{ gitlab_domain }}.key'
        nginx['redirect_http_to_https'] = true

        postgresql['enable'] = false
        gitlab_rails['db_adapter'] = 'postgresql'
        gitlab_rails['db_encoding'] = 'unicode'
        gitlab_rails['db_host'] = '{{ postgres_host }}'
        gitlab_rails['db_port'] = 5432
        gitlab_rails['db_database'] = 'gitlab'
        gitlab_rails['db_username'] = 'postgres'
        gitlab_rails['db_password'] = '{{ postgres_password }}'

        redis['enable'] = false
        gitlab_rails['redis_host'] = '{{ redis_host }}'
        gitlab_rails['redis_port'] = 6379
        gitlab_rails['redis_password'] = '{{ redis_password }}'

        prometheus_monitoring['enable'] = false
        alertmanager['enable'] = false
        node_exporter['enable'] = false
        redis_exporter['enable'] = false
        postgres_exporter['enable'] = false
        pgbouncer_exporter['enable'] = false
        gitlab_exporter['enable'] = false

        gitlab_rails['object_store']['enabled'] = true
        gitlab_rails['object_store']['connection'] = {
          'provider' => 'AWS',
          'endpoint' => '{{ minio_endpoint }}',
          'aws_access_key_id' => '{{ minio_root_user }}',
          'aws_secret_access_key' => '{{ minio_root_password }}',
          'region' => 'us-east-1',
          'path_style' => true
        }
        gitlab_rails['object_store']['objects']['artifacts']['bucket'] = 'gitlab-artifacts'
        gitlab_rails['object_store']['objects']['external_diffs']['bucket'] = 'gitlab-external-diffs'
        gitlab_rails['object_store']['objects']['lfs']['bucket'] = 'gitlab-lfs'
        gitlab_rails['object_store']['objects']['uploads']['bucket'] = 'gitlab-uploads'
        gitlab_rails['object_store']['objects']['packages']['bucket'] = 'gitlab-packages'
        gitlab_rails['object_store']['objects']['dependency_proxy']['bucket'] = 'gitlab-dependency-proxy'
        gitlab_rails['object_store']['objects']['terraform_state']['bucket'] = 'gitlab-terraform-state'
        gitlab_rails['object_store']['objects']['pages']['bucket'] = 'gitlab-pages'
    shm_size: '256m'
